# 服务配置
PORT=3000
JWT_SECRET=1fee36f4-7772-47fe-a70a-20cad569f52b

# Supabase 配置
# 请在 Supabase 控制台获取以下信息
# https://supabase.com/dashboard/project/YOUR_PROJECT/settings/api
SUPABASE_URL=https://hcxadcojgavfkwlxtmcz.supabase.co
SUPABASE_ANON_KEY=sb_publishable_qcDwP-tVlSURQibKPbs98w_RUE7AkQk
